<h1 style="font-size: 2em; text-align: center;">Welcome to the Canteen</h1>

<div style="display: flex; flex-direction: column; align-items: center;">
  <div style="display: flex; justify-content: space-between; width: 50%; font-size: 1.5em; font-weight: bold; padding-bottom: 10px;">
    <span>Product Name</span>
    <span>Price</span>
  </div>
  
  <% @products.each do |product| %>
    <div style="display: flex; justify-content: space-between; width: 50%; padding: 8px 0; border-bottom: 1px solid #ccc;">
      <span><%= product.name %></span>
      <span>$<%= product.price %></span>
    </div>
  <% end %>
</div>