<h1>New Product</h1>

<%= render "form", product: @product %>


<br>

<div>
  <%=  link_to "Back to products", products_path, class: "btn btn-primary" %>
  <%=  link_to "Shopping Cart", carts_path, class: "btn btn-primary" %>
</div>
